.monitor_report {
    border: 2px solid #ccc;
    margin: 8px;
    border-radius: 8px;
}

.error_log {
    width: 99%;
    border: 2px solid #aaa;
    font-family: Andale Mono, monospace;
    font-size: 0.825em;
    border-radius: 8px;
    background-color: #eee;
}

.error {
    color: #ff0000;
}