.monitor_report {
    margin: 8px;
}

.error_log textarea {
    width: 99%;
    border: 2px solid #aaa;
    font-family: Andale Mono, monospace;
    font-size: 0.825em;
    background-color: #eee;
}

.error {
    color: #ff0000;
}

.workers, .masters, .monitor_report, .gearman_queue {
    clear: both;
}

.tab-report {
    clear:both
}

.workers label, .masters label {
    font-size: larger;
    font-weight: bold;
}

.worker, .master {
    width: 48%;
    float: left;
    font-size: smaller;
    margin: 2px;
    padding: 8px;
    border-radius: 8px;
    background-color: #eee;
}

.div_label, .div_value {
    float: left;
}

.div_label {
    clear: left;
    width: 26%;
    font-weight: bold;
}

.cpu_graph, .memory_graph {
    min-height: 25px;
}

.gauge_wrapper {
    float: right;
    width: 220px;
}

.value {
    width: 100%;
    background-color: #dcdcdc;
}

.value-wrapper {
    vertical-align: bottom;
    margin: 1px;
    width: 3.3%;
    float: left;
    min-height: 25px;
    background-color: #777;
}

.server_controls {
    font-size: smaller;
}

.server_controls a {
    color: #693;
}
