.monitor_report {
    margin: 8px;
}

.error_log {
    width: 99%;
    border: 2px solid #aaa;
    font-family: Andale Mono, monospace;
    font-size: 0.825em;
    border-radius: 8px;
    background-color: #eee;
}

.error {
    color: #ff0000;
}

.workers, .masters, .monitor_report {
    clear: both;
}

.workers label, .masters label {
    font-size: larger;
    font-weight: bold;
}

.worker, .master {
    width: 48%;
    float: left;
    font-size: smaller;
    margin: 2px;
    padding: 8px;
    border-radius: 8px;
    background-color: #eee;    
}

.div_label, .div_value {
    float: left;
    clear: top;
}

.div_label {
    width: 26%;
    font-weight: bold;
}
